@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /*background-color: #212121*/
  background-image: url("E:/Wanderlist/typescript tutorial/super-xo/src/super-xo bg.png");
  background: 'no-repeat center center fixed';
  background-size: 10cqmax;
  color: white;
  padding: 0px;
}