@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Bangers';
}

body {
  height: 100dvh;
  background-color: #212121;
  /* background-image: url("/src/assets/super-xo-bg.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 80px 0 0;
}